body{
    padding: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: lightskyblue;
}

.submit-area{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area{
    display: none;
}

.deposit{
    background-image: linear-gradient(250deg, rgb(68, 255, 78), green);
}

.withdraw{
    background-image: linear-gradient(250deg, orange, tomato);
}

.balance{
    background-image: linear-gradient(250deg, blue, black);
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.submit-area{
    background-color: white;
}
